* {
	padding:0;
	margin:0;
	scroll-behavior:smooth;
}
		
body {
	background:url("pixelLab/bg2.jpg");
	background-size:cover;
	box-sizing:border-box;
}
		
.header-section, .header-section2 {
	width:100%;
	height:100vh;
	position:relative;
}
		

.header-section2 {
	background:url("rihanna4.png");
	background-position:-100px;
	background-repeat:no-repeat;
	background-size:cover;
}
		
.header-section {
	background:linear-gradient(to bottom, steelblue, #B33030);
}
		
nav {
	width:100%;
	height:70px;
	background:rgba(0,0,0,0.8);
	display:flex;
	justify-content:;
	align-items:center;
	position:fixed;
	top:0;
	user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	z-index:1;
}
		
nav h5 {
	color:white;
	font-family:white;
	font-weight:bold;
	font-size:14px;
	font-family: 'Redressed', cursive;
	margin:5px 15px;
}

#birthday-text {
	animation:blink2 1.8s linear infinite;
}
		
@keyframes blink2 {
	0%{color:#B33030;},
	25%{color:wheat;},
	50%{color:steelblue;},
	75%{color:orange;},
	100%{color:seagreen;}
}		
		
audio {
	width:50%;
	background:white;
	border:2px solid white;
	margin-left:5px;
	border-radius:19px;
	position:fixed;
	top:5px;
	right:15px;
	animation:shake 0.5s linear infinite;
	animation-delay:0.5s;
}
		
		
@keyframes shake {
	0%{
		border:2px solid pink;
		box-shadow:0 0 10px steelblue, 0 0 15px steelblue;
	},
			
	100%{
		border:2px solid steelblue;
		box-shadow:0 0 10px steelblue;
			
	}
}
		
		
.text-div {
	position:absolute;
	top:200px;
	color:white;
	font-family: 'Redressed', cursive;
	overflow:wrap;
	margin:20px;
}
		
		
.text-div h1 {
	padding:20px;
	border:2px solid white;
	background:rgba(0,0,0,0.5);
	border-radius:0 20px 0 20px;
}
		
		
.body-div {
	margin-top:290px;
}
		
		
.from-who-section {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	font-family:cursive;
	margin-bottom:100px;
}

.from-who-section div:nth-child(2) {
	color:steelblue;
	font-weight:bold;
	font-size:18px;
	margin:10px 0;
	font-family:'Festive', 'cursive';
}


.pic {
	width:200px;
	height:200px;
	margin:auto;
	margin-bottom:;
	border:1px solid black;
	background:url("man.jpg");
	background-size:cover;
	background-position:right;
	border-radius:50%;
}

		
.text {
	margin:auto;
	width:70%;
	color:#2B2929;
	font-family: 'Lobster', cursive;
	font-size:16px;
}

.picture-gallery {
	margin-top:120px;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
}
		
.picture-gallery img {
	width:49%;
	border:1.5px solid white;
	background-size:cover;
	background-position:center;
	box-sizing:border-box;
}
		
.picture-gallery img:hover {
	box-shadow:0 0 10px black;
}
	
	
footer {
	width:100%;
	height:550px;
	padding:20px;
	box-sizing:border-box;
	margin-top:100px;
	font-family:'Roboto', san-serif;
	background:linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.7)), url("pic4.jpg");
	background-size:cover;
	z-index:2;
}
		

.link-to-work {
	margin:80px 10px;
	padding:10px;
	background:steelblue;
	font-weight:bold;
	color:white;
	border-radius:8px;
	display:inline-block;
}


span {
	color:white;
	margin:0 10px;
	
}
		

#contact-text {
	color:indianred;
	font-weight:bold;
}
		
.contact-us div {
	font-family:san-serif;
	color:white;
	margin:10px;
	font-weight:bold;
}

a {
	text-decoration:none;
	font-weight:bold;
}

.copyright {
	color:grey;
	text-align:center;
	margin-top:90px;
}

/*style for workpage*/


.nav2 {
	width:100%;
	height:70px;
	background:rgba(0,0,0,0.8);
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:fixed;
	top:0;
	z-index:1;
}

.get-text {
	color:white ;
	box-shadow:0 0 10px seagreen;
	background:seagreen;
	padding:10px;
	font-weight:bold;
	font-family:'Roboto', san-serif;
	border-radius:5px;
	margin:0 10px;
}


.cool-graphic-bg {
	width:100%;
	height:100vh;
	background:url("cool-bg.jpg");
	background-position:-120px;
	background-size:cover;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
}

.cool-graphic-bg div {
	font-size:30px;
	font-family:'redressed', cursive;
	margin-left:20px;
	line-height:50px;
}

.cool-graphic-bg div span {
	background:white;
	color:black;
	height:50px;
	line-height:50px;
	font-weight:bold;
	padding:5px 10px;
	border-radius:5px;
}

.cool-graphic-bg div span  {
	background:indianred;
	animation:moves 5s ease infinite;
}

@keyframes moves {
	0%{background:linear-gradient(to right, indianred, steelblue);}
	20%{background:linear-gradient(to left, indianred, steelblue);}
	40%{backgr_ound:linear-gradient(to left, seagreen, steelblue);}
	60%{background:linear-gradient(to right, seagreen, steelblue);}
	80%{background:linear-gradient(to left, indianred, steelblue);}
	100%{background:linear-gradient(to left, seagreen, steelblue);}
}

.body-text {
	width:90%;
	height:auto;
	margin:auto;
	margin-top:190px;
	font-family:'Roboto', san-serif;
	line-height:30px;
	color:black;
	background-size:cover;
}


.a {
	color:black;
	text-decoration:none;
	font-weight:bold;
}

